{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Pagamento</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <h4>Contrar serviço <strong>{{ job.titulo }}</strong> por <strong>{{ job.valor }}</strong>?</h4>
                    </div>
                </div>
                <h3 class="display-5">Cartão de crédito</h3>
                <hr>
                {% form_theme form with 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_label(form.numero) }}
                        {{ form_widget(form.numero) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.mes_expiracao) }}
                        {{ form_widget(form.mes_expiracao) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.ano_expiracao) }}
                        {{ form_widget(form.ano_expiracao) }}
                    </div>
                    <div class="col-md-2">
                        {{ form_label(form.cod_seguranca) }}
                        {{ form_widget(form.cod_seguranca) }}
                    </div>
                    <hr>
                    <div class="mt-4">
                        <input type="hidden" value="" id="hash_css">
                        <input type="hidden" value="" id="order_id">
                        <textarea id="form-pub-key" cols="30" rows="10" style="display: none">-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAsYVwpgV7pmzuP6r/Tnl7
g7p6gkHFyd+L1V6azON5agei8DSPekmfjLBUGToGV2ZdqwlGi+EHGduu9+tnjKBV
kFkCw0LJsWURA7qDcTC9EvYsG+pxmO62yyQYbYMjYW9z+PGRBSN/MlfsuO+7spj6
e/LsNAF2sA6/hiJdu1kggSihKf2ws30B7AhCqjs7O+4A+8l4hsFvJFDVwXdnjJ9K
z7e6AffLfxK0YkAHQyzWeylMMJOw7I8hSCHwcahhqLWBNeVUmWIQbN2N1IQ57Ze2
07DWUdTWP0Oug9x5pVS+S5FPUeB28FUR+LrwdI2AVDWjpuM5iWyEfC4kanzZTcK1
TQIDAQAB
-----END PUBLIC KEY-----</textarea>
                        {{ form_widget(form.enviar) }}
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <h3 class="display-5">Boleto / Débito Bancário</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="" class="btn btn-lg btn-block btn-info">Pagar via Boleto</a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="btn btn-lg btn-block btn-warning">Pagar via débito bancario (Itau)</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mt-5">
                        <a href=""
                           class="btn-lg btn btn-block btn-outline-success mt-5">CONTRATAR {{ job.usuario.nome|upper }}</a>
                    </div>
                </div>

            </div>
        </div>


    </div>

{% endblock %}

{% block title %}
    Contratar {{ job.usuario.nome }} por {{ job.titulo }} -
{% endblock %}

{% block javascripts %}
    <script src="//assets.moip.com.br/v2/moip.min.js" type="text/javascript"></script>
    <script>
        var btnForm = document.getElementById('form_enviar');
        btnForm.addEventListener('click', function(){
            var cc = new Moip.CreditCard({
                number: document.getElementById('form_numero').value,
                cvc: document.getElementById('form_cod_seguranca').value,
                expMonth: document.getElementById('form_mes_expiracao').value,
                expYear: document.getElementById('form_ano_expiracao').value,
                pubKey: document.getElementById('form-pub-key').value
            });

            if (cc.isValid()) {
                //TODO: enviar via post para pagamento
            } else {
                alert('Cartão inválido!');
            }
        });
    </script>
{% endblock %}
