{% extends 'base-painel.html.twig' %}
{% block title %}Painel do usuário - {% endblock %}

{% block topo_painel %}
    <h1>Painel do usuário</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-center  text-white bg-info">Saldo Total</h3>
                <div class="card-body">
                    <h4 class="text-center text-danger">R$ 130,00</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-center  text-white bg-danger">Saldo não liberado</h3>
                <div class="card-body">
                    <h4 class="text-center text-danger">R$ 40,00</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header text-center text-white bg-success">Saldo disponível</h3>
                <div class="card-body">
                    <h4 class="text-center text-danger">R$ 90,00</h4>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block body_painel %}
    <div class="row mb-2">
        <div class="col-md-4">
            <form action="" name="form_filtro_status">
                <select name="busca_filtro" id="busca_filtro"
                        onchange="document.form_filtro_status.submit()"
                        class="form-control-sm form-control float-left">
                    <option value="" {% if status == "" %} selected {% endif %}>Filtrar Microjob por
                    </option>
                    <option value="P" {% if status == "P" %} selected {% endif %}>Publicado</option>
                    <option value="A" {% if status == "A" %} selected {% endif %}>Em análise</option>
                    <option value="I" {% if status == "I" %} selected {% endif %}>Inativos</option>
                    <option value="E" {% if status == "E" %} selected {% endif %}>Excluídos</option>
                    <option value="R" {% if status == "R" %} selected {% endif %}>Rejeitados</option>
                </select>
            </form>
        </div>
        <div class="offset-4 col-md-4">
            <a href="{{ path('cadastrar_job') }}" class="btn btn-block btn-primary float-right">Cadastrar
                MicroJob</a>
        </div>
    </div>
    <hr>
    {% for job in microjobs %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-1">
                        <img width="60" src="{{ asset(caminho_imagens ~ job.imagem) }}"
                             class="img-responsive" alt="{{ job.titulo }}">
                    </div>
                    <div class="col-md-6">
                        <h5>{{ job.titulo }}</h5>
                    </div>
                    <div class="col-md-2">
                        <p>{{ job.dataCadastro | date('d/m/Y') }}</p>
                    </div>
                    <div class="col-md-1">
                        {% if job.status == "A" %}
                            <p class="badge badge-warning text-white">Em análise</p>
                        {% elseif job.status == "P" %}
                            <p class="badge badge-success text-white">Publicado</p>
                        {% elseif job.status == "I" %}
                            <p class="badge badge-secondary text-white">Inativo</p>
                        {% elseif job.status == "E" %}
                            <p class="badge badge-danger text-white">Excluído</p>
                        {% elseif job.status == "R" %}
                            <p class="badge badge-dark text-white">Rejeitado</p>
                        {% else %}
                            <p class="badge badge-light">N/A</p>
                        {% endif %}
                    </div>
                    <div class="col-md-2">
                        {% if job.status != "E" %}
                            <a href="{{ path('excluir_job', {id: job.id}) }}"
                               class="float-right btn btn-danger btn-sm btn_excluir_servico"><i
                                        class="fa fa-trash-alt"></i></a>
                        {% endif %}
                        {#<a href="" class="float-right btn btn-success btn-sm mr-1"><i class="fa fa-pencil-alt"></i></a>#}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card mb-2">
            <div class="card-body">
                <div class="alert alert-info">Nenhum serviço encontrado</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script>
        var btn = document.querySelector('.btn_excluir_servico');
        btn.addEventListener('click', function (e) {
            e.preventDefault();
            if (confirm("Deseja realmente excluir este job?")) {
                var url = this.getAttribute('href');
                window.location = url;
            }
        });
    </script>
{% endblock %}