<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} Microjobs</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">
     <link href="{{ asset("css/fontawesome-all.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset("css/styles.css") }}" rel="stylesheet">

     {% block stylesheets %}{% endblock %}
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="{{ path('default') }}"><i class="fa fa-at"></i> MicroJobs</a>
          {{ render(controller('App\\Controller\\CategoriasController::listarTopo')) }}
          <form class="form-inline" method="get" action="">
            <input class="form-control mr-sm-2" name="busca" value="{{ app.request.get('busca') }}" type="search" placeholder="Buscar microjob por..." aria-label="Search">
            <button class="btn btn-secundary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
          <ul class="navbar-nav">
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                  <a href="" class="nav-link dropdown-toggle"
                     href="#" id="nav_usuario_logado" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false"
                  ><span class="navbar-text">Olá {{ app.user.nome }}</span></a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="nav_usuario_logado">
                    <h6 class="dropdown-header">
                       Perfil atual:
                        {% if is_granted('ROLE_ADMIN') %}
                            <strong>Admin</strong>
                        {% elseif is_granted('ROLE_CLIENTE') %}
                            <strong>Cliente</strong>
                        {% else %}
                            <strong>Freelancer</strong>
                        {% endif %}
                    </h6>
                    <a href="#" class="dropdown-item">Minha Conta</a>
                    <a href="#" class="dropdown-item">Meus Microjobs</a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ path("logout") }}" class="dropdown-item">Sair do sistema</a>
                  </div>
                </li>
              {% else %}
                <li class="nav-item">
                  <a href="{{ path('cadastrar_usuario') }}" class="nav-link">Cadastre-se</a>
                </li>
                <li class="nav-item">
                  <a href="{{ path('login') }}" class="nav-link">Login</a>
                </li>
              {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <main role="main" class="pt-3">
      <div class="container">
          {% for message in app.session.flashBag.get('success') %}
              <div class="alert alert-success">
                {{ message }}
              </div>
          {% endfor %}

          {% for message in app.session.flashBag.get('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
          {% endfor %}

          {% for message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
          {% endfor %}
      </div>
      {% block body %}{% endblock %}
    </main>

    <footer class="text-muted">
      <div class="container">
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>

